@model Entities.OrdenTrabajo

@{
    ViewBag.Title = "Detales OE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Datatable -->
<link href="~/Content/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
<!-- Custom Stylesheet -->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="d-flex align-items-center mb-4 flex-wrap">
            <h4 class="fs-20 font-w600  me-auto">Detalles de la Orden de ensayo N° @Model.Id</h4>

        </div>
        <div class="row">

            <div class="col-xl-9 col-xl-auto">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="fs-20 d-block">Datos de la Orden: </a></h4>

                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="needs-validation" novalidate>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom01">
                                                        Fecha de creacion
                                                        <span class="text-danger"></span>
                                                    </label>
                                                    <div class="col-lg-6">

                                                        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                        <div class="invalid-feedback">
                                                            @Model.Fecha
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom02">
                                                        Laboratorio
                                                    </label>


                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(model => model.Laboratorio.nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom03">
                                                        Usuario

                                                    </label>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(model => model.Usuario.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom03">
                                                        Transporte de envio a EETT

                                                    </label>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(model => model.transporte, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xl-6">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                        Cantidad De equipos
                                                    </label>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(model => model.cantidadEquipos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                        Transporte de envio a Laboratario
                                                    </label>
                                                    <div class="col-lg-6">

                                                        @Html.EditorFor(model => model.TransporteRecepcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom07">
                                                        Guia de envío a Laboratario

                                                    </label>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(model => model.GuiaRecepcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                                    </div>
                                                </div>

                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="validationCustom07">
                                                        Guia de envío a EETT

                                                    </label>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(model => model.guia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <hr>
                                            <h4 class="fs-20 mb-3">Observaciones</h4>
                                            @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                                            <br />

                                        </div>
                                    </form>
                                </div>
                                <hr>



                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-xl-12">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="fs-20 d-block">Datos de la Orden: </a></h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Fecha</th>

                                                <th>Herramienta</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.protocolos)
                                            {


                                                <tr>

                                                    <td>@item.codigo</td>
                                                    <td>@item.fechaEnsayo</td>

                                                    <td>@item.herramienta.codigoViejo</td>

                                                    <td>
                                                        <div class="d-flex">
                                                            @{string c = "/protocolo/details/" + item.Id;
                                                                string d = "/protocolo/qr/" + item.Id;
                                                                string e = "/protocolo/index/" + item.Id;
                                                                string error = "/protocolo/qrError/" + item.Id; }
                                                            <a href="@c" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-info"></i></a>
                                                            @if (item.conclusion.ToLower() == "incorrecto")
                                                            {
                                                                <a href="@error" class="btn btn-indigo shadow btn-xs sharp me-1"><i class="fa fa-qrcode"></i></a>
                                                            }
                                                            @if (item.conclusion.ToLower() != "incorrecto")
                                                            {
                                                                <a href="@d" class="btn btn-indigo shadow btn-xs sharp me-1"><i class="fa fa-qrcode"></i></a>
                                                            }

                                                            <a href="@e" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-print"></i></a>


                                                        </div>
                                                    </td>
                                                </tr>

                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xl-3 col-xxl-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h4 class="fs-20 mb-0">Historico</h4>
                            </div>

                            <div id="DZ_W_TimeLine11" class="widget-timeline dlab-scroll style-1 height480">
                                <ul class="timeline">
                                    @foreach (var item in Model.estados)
                                    {
                                        <li>
                                            <div class="timeline-badge primary"></div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>@item.fecha</span>
                                                <h6 class="mb-0">@item.observaciones <strong class="text-primary">Estado: @item.EstadoOrdenEnsayo.estadoFinal</strong>.</h6>
                                            </a>
                                        </li>
                                    }



                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Required vendors -->
<script src="~/Content/vendor/global/global.min.js"></script>
<script src="~/Content/vendor/chart.js/Chart.bundle.min.js"></script>


<script src="~/Content/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<!-- Apex Chart -->
<script src="~/Content/vendor/apexchart/apexchart.js"></script>



<script src="~/Content/vendor/chart.js/Chart.bundle.min.js"></script>
<!-- Chart piety plugin files -->

<script src="~/Content/vendor/peity/jquery.peity.min.js"></script>
<!-- Dashboard 1 -->

<script src="~/Content/js/dashboard/dashboard-1.js"></script>

<script src="~/Content/vendor/owl-carousel/owl.carousel.js"></script>

<script src="~/Content/js/custom.min.js"></script>

<script src="~/Content/js/dlabnav-init.js"></script>
<!-- Required vendors -->
<script src="~/Content/vendor/global/global.min.js"></script>
<script src="~/Content/vendor/chart.js/Chart.bundle.min.js"></script>
<!-- Apex Chart -->
<script src="~/Content/vendor/apexchart/apexchart.js"></script>

<!-- Datatable -->
<script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Content/js/plugins-init/datatables.init.js"></script>

<script src="~/Content/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

<script src="~/Content/js/custom.min.js"></script>
<script src="~/Content/js/dlabnav-init.js"></script>
