@model IEnumerable<Entities.OrdenTrabajo>

@{
    ViewBag.Title = "OrdenSupervisor";
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}


<!-- Datatable -->
<link href="~/Content/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
<!-- Custom Stylesheet -->
<div class="content-body">
    <div class="container-fluid">

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Herramientas</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th>OT</th>
                                    <th>Fecha Inicio</th>
                                    <th>Estado</th>
                                    <th>Fecha de envio</th>
                                    <th>Fecha de retiro</th>
                                    <th>Laboratorio</th>
                                    <th>Transporte</th>
                                    <th>Guia</th>
                                    <th>Equipos</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id </td>
                                        <td>@item.Fecha</td>
                                        <td>@item.Estado.EstadoOrdenEnsayo.estadoFinal</td>
                                        @if (@item.Turno.Id == 0)
                                        {
                                            <td>Esperando turno, se asignara a la brevedad</td>
                                            <td>Esperando turno, se asignara a la brevedad</td>
                                        }
                                        @if (item.Turno.Id != 0)
                                        {
                                            <td>@item.Turno.FechaRecepcionMateriales</td>
                                            <td>@item.Turno.FechaFinDeEnsayo</td>
                                        }



                                        <td>@item.Laboratorio.nombre</td>
                                        <td>@item.transporte</td>
                                        <td>@item.guia</td>
                                        <td>@item.cantidadEquipos</td>

                                        <td>
                                            <div class="d-flex">

                                                @{string p = "/ordenTrabajo/details/" + item.Id;
                                                    string a = "/ordenTrabajo/historico/" + item.Id;
                                                    string e = "/ordenTrabajo/EnviarEquipos/" + item.Id;
                                                    string r = "/ordenTrabajo/recibido/" + item.Id;
                                                }

                                                <a href="@a" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-history"></i></a>

                                                @if (item.Estado.EstadoOrdenEnsayo.estadoFinal == "Turno Asignado. Enviar Herramientas")
                                                {
                                                    <a href="@e" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-arrow-alt-circle-right"></i></a>

                                                }

                                                @if (item.Estado.EstadoOrdenEnsayo.estadoFinal == "Ensayado")
                                                {
                                                    <a href="@r" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-receipt"></i></a>

                                                }
                                            </div>
                                        </td>

                                    </tr>

                                }
                                

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<!-- Required vendors -->
<script src="~/Content/vendor/global/global.min.js"></script>
<script src="~/Content/vendor/chart.js/Chart.bundle.min.js"></script>


<script src="~/Content/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<!-- Apex Chart -->
<script src="~/Content/vendor/apexchart/apexchart.js"></script>



<script src="~/Content/vendor/chart.js/Chart.bundle.min.js"></script>
<!-- Chart piety plugin files -->

<script src="~/Content/vendor/peity/jquery.peity.min.js"></script>
<!-- Dashboard 1 -->

<script src="~/Content/js/dashboard/dashboard-1.js"></script>

<script src="~/Content/vendor/owl-carousel/owl.carousel.js"></script>

<script src="~/Content/js/custom.min.js"></script>

<script src="~/Content/js/dlabnav-init.js"></script>
<!-- Required vendors -->
<script src="~/Content/vendor/global/global.min.js"></script>
<script src="~/Content/vendor/chart.js/Chart.bundle.min.js"></script>
<!-- Apex Chart -->
<script src="~/Content/vendor/apexchart/apexchart.js"></script>

<!-- Datatable -->
<script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Content/js/plugins-init/datatables.init.js"></script>

<script src="~/Content/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

<script src="~/Content/js/custom.min.js"></script>
<script src="~/Content/js/dlabnav-init.js"></script>
