@model Entities.OrdenTrabajo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                @{int s = ViewBag.semana;

                    int anterior = s - 1;
                    int despues = s + 1;
                    int año = int.Parse(DateTime.Now.Year.ToString());
                }
                <li class="breadcrumb-item">Asignar un turno para la Orden N° @Model.Id</li>

            </ol>

        </div>
        <div class="row">

            <div class="row page-titles">
                <ol class="breadcrumb">


                    <li>
                        <input type="button" class="btn btn-outline-primary " style="float:left" value="Semana Anterior" onclick="location.href='@Url.Action("Create", "Turno", new { orden = Model.Id, año = año.ToString(), semana = anterior.ToString() }, null)'" />

                        <!-- row -->
                    </li>
                    <li> &emsp;  </li>

                    <li> &emsp;  </li>
                    <li>  <input type="button" class="btn btn-outline-primary " style="float:left" value="Proxima Semana" onclick="location.href='@Url.Action("Create", "Turno",new { orden=Model.Id,año=año.ToString(),semana=despues.ToString()},null)'" />  </li>
                </ol>
                <div class="col-xl-3 col-xxl-4">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-intro-title">Ensayos que empiezan en la Semana @ViewBag.semana</h4>

                            <div id="DZ_W_TimeLine11" class="widget-timeline dlab-scroll style-1 height480">
                                <ul class="timeline">
                                    @foreach (var item in Model.turnosEnsayo)
                                    {
                                        <li>
                                            <div class="timeline-badge primary"></div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>@item.FechaComienzoDeEnsayo al @item.FechaFinDeEnsayo</span>
                                                <h6 class="mb-0">Ensayo @item.orden.Id de @item.orden.Usuario.UserName </h6>
                                            </a>
                                        </li>
                                    }



                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-intro-title">Ensayos que terminan en la Semana @ViewBag.semana</h4>

                            <div id="DZ_W_TimeLine11" class="widget-timeline dlab-scroll style-1 height480">
                                <ul class="timeline">
                                    @foreach (var item in Model.turnosEnsayoFin)
                                    {
                                        <li>
                                            <div class="timeline-badge primary"></div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>@item.FechaComienzoDeEnsayo al @item.FechaFinDeEnsayo</span>
                                                <h6 class="mb-0">Ensayo @item.orden.Id de @item.orden.Usuario.UserName </h6>
                                            </a>
                                        </li>
                                    }



                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-intro-title">Recepeciones de la Semana @ViewBag.semana</h4>

                            <div id="DZ_W_TimeLine11" class="widget-timeline dlab-scroll style-1 height480">
                                <ul class="timeline">
                                    @foreach (var item in Model.turnos)
                                    {
                                        <li>
                                            <div class="timeline-badge primary"></div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <span>@item.FechaComienzoDeEnsayo al @item.FechaFinDeEnsayo</span>
                                                <h6 class="mb-0">Ensayo @item.orden.Id de @item.orden.Usuario.UserName </h6>
                                            </a>
                                        </li>
                                    }



                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

          

        </div>

        @using (Html.BeginForm())
        {@Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">

                    <div class="form-validation">
                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="mb-3 row">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                Fecha de recepcion de equipos<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => model.Turno.FechaRecepcionMateriales, new { htmlAttributes = new { @class = "form-control", @type = "date" } })


                                            </div>
                                        </div>
                                    </div>

                                </div>




                                <div class="col-xl-6">
                                    <div class="mb-3 row">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                Fecha deComienzo de ensayos<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => model.Turno.FechaComienzoDeEnsayo, new { htmlAttributes = new { @class = "form-control", @type = "date",@requiered="requiered" } })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                Fecha de fin de ensayos<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-xl-6">
                                                @Html.EditorFor(model => model.Turno.FechaFinDeEnsayo, new { htmlAttributes = new { @class = "form-control", @type = "date" } })


                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                </div>
                                <div class="row" style="margin-bottom:10px">
                                    <label class="col-lg-4 col-form-label" for="validationCustom02">

                                        Laboratorio <span class="text-danger">*</span>

                                    </label>


                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.Laboratorio.Id, (SelectList)ViewBag.laboratorios as SelectList, new { @class = "nice-select me-sm-2 form-control wide", @id = "validationCustom02" })
                                        
                                    </div>
                                    <br />
                                    <br />
                                </div>
                               
                                <hr />
                                <hr />

                                <h5>Observaciones</h5>
                                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })



                            </div>
                            <div class="mb-6 row">
                                <div class="col-lg-8 ms-auto">
                                    <br />
                                    <button type="submit" class="btn btn-primary">Asignar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    }

    </div>


    </div>


        