@model Entities.OrdenTrabajo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="content-body">
    <div class="container-fluid">
       

        @using (Html.BeginForm())
        {@Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">

                    <div class="form-validation">
                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="mb-3 row">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                Fecha de recepcion de equipos<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => model.Turno.FechaRecepcionMateriales, new { htmlAttributes = new { @class = "form-control", @type = "date" } })


                                            </div>
                                        </div>
                                    </div>

                                </div>




                                <div class="col-xl-6">
                                    <div class="mb-3 row">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                Fecha deComienzo de ensayos<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => model.Turno.FechaComienzoDeEnsayo, new { htmlAttributes = new { @class = "form-control", @type = "date",@requiered="requiered" } })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                Fecha de fin de ensayos<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-xl-6">
                                                @Html.EditorFor(model => model.Turno.FechaFinDeEnsayo, new { htmlAttributes = new { @class = "form-control", @type = "date" } })


                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                </div>
                                <div class="row" style="margin-bottom:10px">
                                    <label class="col-lg-4 col-form-label" for="validationCustom02">

                                        Laboratorio <span class="text-danger">*</span>

                                    </label>


                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.Laboratorio.Id, (SelectList)ViewBag.laboratorios as SelectList, new { @class = "nice-select me-sm-2 form-control wide", @id = "validationCustom02" })
                                        
                                    </div>
                                    <br />
                                    <br />
                                </div>
                               
                                <hr />
                                <hr />

                                <h5>Observaciones</h5>
                                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })



                            </div>
                            <div class="mb-6 row">
                                <div class="col-lg-8 ms-auto">
                                    <br />
                                    <button type="submit" class="btn btn-primary">Asignar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    }

    </div>


    </div>


        