@model Entities.OrdenTrabajo

@{
    ViewBag.Title = "EditarTurnoEnsayo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        
  

        @using (Html.BeginForm())
        {@Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)
        <div class="col-xl-9 col-xxl-8">
            <div class="card">
                <div class="alert alert-info solid alert-dismissible fade show">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                    @ViewBag.errorTurno
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                    </button>
                </div>
                <div class="card-body">
                    @Html.HiddenFor(m => m.Turno.Id)
                    <div class="form-validation">
                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="mb-3 row">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                Fecha de recepcion de equipos<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">

                                                @Html.EditorFor(model => model.Turno.FechaRecepcionMateriales, new { htmlAttributes = new { @class = "form-control", @type = "date" } })



                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="mb-3 row">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                Fecha deComienzo de ensayos<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => model.Turno.FechaComienzoDeEnsayo, new { htmlAttributes = new { @class = "form-control", @type = "date" } })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="mb-3 row">
                                            <label class="col-lg-4 col-form-label" for="validationCustom04">
                                                Fecha de fin de ensayos<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.EditorFor(model => model.Turno.FechaFinDeEnsayo, new { htmlAttributes = new { @class = "form-control", @type = "date" } })


                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                </div>

                                <hr />

                                <h5>Observaciones</h5>
                                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })



                            </div>
                            <div class="mb-6 row ">
                                <div class="col-lg-8 ms-auto">
                                    <br />
                                    <button type="submit" class="btn btn-primary">Asignar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    }

    </div>


</div>




