@model Entities.Herramienta


@{Layout = " ~/Views/Shared/_Layout.cshtml";}







@using (Html.BeginForm("create", "pertigauniversal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="content-body">


        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Crear un Herramienta</h4>

                </div>

                <div class="card-body">
                    <div class="form-validation">
                        <form class="needs-validation" novalidate>

                            <div class="row">


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-xl-6">
                                    <label class="col-lg-4 col-form-label" for="validationCustom01">
                                        Proximo Ensayo <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.proximaActualizacion, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.proximaActualizacion, "", new { @class = "text-danger" })
                                        <br />
                                    </div>
                                </div>



                                <div class="col-xl-6">
                                    <label class="col-lg-4 col-form-label" for="validationCustom01">
                                        Marca <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.marca, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @minlength = "2", @required = "required", @placeholder = "Ingrese La Marca" } })
                                        @Html.ValidationMessageFor(model => model.marca, "", new { @class = "text-danger" })
                                        <br />
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <label class="col-lg-4 col-form-label" for="validationCustom01">
                                        Modelo
                                    </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.modelo, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @minlength = "2", @placeholder = "Ingrese el modelo" } })
                                        @Html.ValidationMessageFor(model => model.modelo, "", new { @class = "text-danger" })
                                        <br />
                                    </div>
                                </div>



                                <div class="col-xl-6">
                                    <label class="col-lg-4 col-form-label" for="validationCustom01">
                                        Numero de Serie
                                    </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.numeroSerie, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @minlength = "2", @placeholder = "Ingrese el numero de serie" } })
                                        @Html.ValidationMessageFor(model => model.numeroSerie, "", new { @class = "text-danger" })
                                        <br />
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <label class="col-lg-4 col-form-label" for="validationCustom01">
                                        Tiempo Mantenimiento en meses <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.tiempoMantenimiento, new { htmlAttributes = new { @class = "form-control", @max = "96", @min = "6", @type = "number", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.tiempoMantenimiento, "", new { @class = "text-danger" })
                                        <br />
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <label class="col-lg-4 col-form-label" for="validationCustom01">
                                        Tipo <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.tipo, new SelectList(ViewBag.tipo), new { @class = "nice-select me-sm-2 default-select form-control wide", @id = "validationCustom02", @placeholder = "Your valid email.." })
                                        <br />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <label class="col-lg-4 col-form-label" for="validationCustom01">
                                        Usuario <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.usuarios.Id, (SelectList)ViewBag.sector as SelectList, new { @class = "nice-select me-sm-2 default-select form-control wide", @id = "validationCustom02", @placeholder = "Your valid email.." })

                                    </div>

                                </div>
                                <div class="col-xl-6">
                                    <label class="col-lg-4 col-form-label"> Ingrese el texto del codigo</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.codigoHerramienta.codigo, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @minlength = "2", @placeholder = "Ingrese las letras del codigo Ej: PEU" } })
                                        @Html.ValidationMessageFor(model => model.numeroSerie, "", new { @class = "text-danger" })
                                        <br />
                                    </div>
                                </div>


                                <div class="col-xl-6">
                                    <label class="col-lg-4 col-form-label"> Ingrese el numero del codigo</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.codigoHerramienta.numero, new { htmlAttributes = new { @class = "form-control", @max = "9999", @min = "1", @type = "number", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                                        <br />
                                    </div>
                                </div>

                                @{int a = 0;}
                                @foreach (var item in Model.tipoHerramienta.listaItemHerramientas)
                                {
                                    <div class="col-xl-6">
                                        @Html.Label(item.nombre, htmlAttributes: new { @class = "col-lg-4 col-form-label" })
                                        <div class="col-md-10">

                                            @if (item.tipo == "Number")
                                            {

                                                @Html.Editor("pertigaUniversales.herramientaItem[" + a + "].valor", new { htmlAttributes = new { @class = "form-control", @max = item.Maximo, @min = item.Minimo, @type = "number", @required = "required" } })
                                                @Html.Hidden("pertigaUniversales.herramientaItem[" + a + "].Id", item.Id.ToString(), new { htmlAttributes = new { @class = "form-control", @visible = "hidden" } })
                                            }
                                            @if (item.tipo == "Text")
                                            {
                                                @Html.Editor("pertigaUniversales.herramientaItem[" + a + "].valor", new { htmlAttributes = new { @class = "form-control", @maxlength = item.Maximo, @minlength = item.Minimo, @required = "required", @placeholder = item.Ayuda } })
                                                @Html.Hidden("pertigaUniversales.herramientaItem[" + a + "].Id", item.Id.ToString(), new { htmlAttributes = new { @class = "form-control", @visible = "hidden" } })
                                            }



                                            <br />
                                        </div>
                                    </div>
                                    a++;
                                }

                                <br />
                                <div class="mb-6 row">
                                    <div class="col-lg-8 ms-auto">
                                        <button type="submit" class="btn btn-primary">Crear</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


